.msgBox {
    margin: 0 auto;
    height: 80%;
    width: 100%;
    #messages {
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #messages::-webkit-scrollbar {
        display: none;
    }
    #messages::-webkit-scrollbar-track {
        background: transparent;
    }
    #messages::-webkit-scrollbar-thumb {
        background-color: #888;
    }
    .msgSubmit {
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        height: 5vh;
        input {
            width: 40vw;
        }
        input:focus {
            outline: none;
        }
        Button {
            width: 5vw;
        }
    }
}
/* .msgContainner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    padding-right: 10px;

    .msgStyle {
        border: solid #efb730;
        background-color: #efb730;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        margin-right: 5px;
        max-width: 70%;
        .msgUser {
            font-weight: bold;
        }
        .msgText {
            color: #030305;
        }
    }
}

.msgContainner_you {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .msgStyle_you {
        border: solid #f2f4ef;
        background-color: #c2e3f4;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        margin-left: 5px;
        max-width: 70%;
        .msgUser_you {
            font-weight: bold;
        }
        .msgText_you {
            color: #030305;
        }
    }
}
 */
.msgContainner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    padding-right: 10px;
    .msgStyle {
        border: solid #f8d688d2;
        background-color: #f5c659;
        display: flex;
        padding: 15px;
        border-radius: 15px;
        margin: 10px;
        margin-right: 10px;
        max-width: 70%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        &:hover {
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }

        .msgUser {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .msgText {
            color: #030305;
            font-size: 16px;
            line-height: 1.4;
            margin-top: 5px;
        }
        .msgTime {
            color: #aeaeae;
            font-size: 12px;
            align-self: flex-end;
            margin-top: 5px;
            position: absolute;
            bottom: 0;
            right: 115%;
        }
    }
}

.msgContainner_you {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 10px;

    .msgStyle_you {
        border: solid #c3eaf4;
        background-color: #c2e3f4;
        padding: 15px;
        border-radius: 15px;
        margin: 10px;
        margin-left: 10px;
        max-width: 70%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        &:hover {
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
        }

        .msgUser_you {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .msgText_you {
            color: #030305;
            font-size: 16px;
            line-height: 1.4;
            margin-top: 5px;
        }
        .msgTime_you {
            color: #aeaeae;
            font-size: 12px;
            align-self: flex-end;
            margin-top: 5px;
            position: absolute;
            bottom: 0;
            left: 110%;
        }
    }
}
