.msgBox {
    margin: 0 auto;
    height: inherit;
    width: inherit;
    overflow-y: auto;
}
.msgSubmit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    input {
        width: 100%;
    }
    input:focus {
        outline: none;
    }
}
.msgStyle {
    border: 1px solid #000;
    .msgUser {
        border: 1px solid blue;
    }
    .msgText {
        border: 1px solid red;
    }
}
.clearChat {
}
