.Log {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    a {
        text-decoration: none;
    }
}
.LoginButton {
    padding-top: 100px;
    text-align: center;
}
