.settingLayout {
    width: 50%;
    height: 70%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    .setButton {
        margin-bottom: 10%;
        padding: 5% 0;
        border: 1px solid #adabab;
        color: #000000;
        transition: all 0.5s;
        font-weight: bold;
        font-size: 18px;
    }
    .setButton:hover {
        background-color: #efb730;
    }
}
